

.footer p { 
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: lightpink;
}
.ul {
	font-size: 15px;
}
h4 {
	font-size: 50px;
	font-family: "Lato", sans-serif;
  	font-weight: 300;
}
h3 {
	font-size: 30px;
	font-family: 'Georgia', serif;
}
img {
	float: right;
	margin-left: 5%;
	margin-right: 5%;
}
.container {
	padding: 3px;
	font-family: 'Times New Roman', serif;
	font-size: 20px;
}

#name {
	color: red;
}
	
.info {
	color: skyblue;
}
		
@media only screen and (max-width: 767px)
{
.footer p {
	background-color: skyblue;
}
 p {
 	font-size: 50px;
 }
 img {
 	float: none;
 }
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 	padding-left: 15px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}